
@{
    ViewBag.Title = "FlowerDetails";
}

@model FlowerShop.Web.Models.Flowers.FlowerDetailViewModel

<h2>Flower details</h2>
<label>Nume:</label>
@Html.LabelFor(Model.model.Name);
<label>Descriere:</label>
@Html.LabelFor(Model.model.Description);
<label>Pret:</label>
@Html.LabelFor(Model.model.Price);

