
@{
     ViewBag.Title = "Flowers";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FlowerShop.Web.Models.Flowers.FlowerIndexViewModel

@if (Model.Flowers.Count() == 0)
{
     <h2>Ne exista flori inregistrate</h2>
}
else
{
     <table class="table table-hover">
          <thead>
               <tr class="bg-danger">
                    <td scope="col">Nume floare</td>
                    <td scope="col">Descriere floare</td>
                    <td scope="col">Pret floare</td>
                    <td scope="col">Details</td>
               </tr>
          </thead>
          <tbody>
               @foreach (var item in Model.Flowers)
               {
                    <tr>
                         <td scope="row">@item.Name</td>
                         <td>@item.Description</td>
                         <td>@item.Price</td>
                         <td>@Html.ActionLink("View", "details","Flowers", new { id = item.Id }, new { @class = "btn btn-primarry" })</td>
                    </tr>
               }
          </tbody>
     </table>
}