@{
    ViewBag.Title = "About";
}
<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
    <div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(images/intro.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 float-overlay">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END fh5co-intro-section -->
<div id="fh5co-section">
    <div class="container">
        <div class="row">
            <div class="about-section">
                <h3 class="animate-box">Bun venit la Narrow!</h3>
                <p class="animate-box">Suntem o echipă pasionată de frumusețea naturii și de puterea florilor de a aduce bucurie și emoție în viața oamenilor. La Narrow, avem o misiune simplă: să oferim clienților noștri experiențe florale unice și să le aducem zâmbete pe fețe prin intermediul produselor noastre de calitate superioară.</p>
                <p class="animate-box">Cu o experiență bogată în design floral și un simț estetic bine dezvoltat, ne străduim să creăm buchete și aranjamente florale elegante, care să reflecte personalitatea și gusturile fiecărui client. Ne inspirăm din tendințele actuale în designul floral, dar ne bucurăm și de a crea aranjamente clasice și atemporale.</p>
                <p class="animate-box">Prospețimea și calitatea sunt valorile noastre de bază. Selectăm cu atenție cele mai proaspete flori de la furnizori de încredere, pentru a ne asigura că produsele noastre rămân frumoase și pline de viață cât mai mult timp posibil. Ne străduim să menținem standarde ridicate în ceea ce privește manipularea, ambalarea și livrarea florilor, pentru ca experiența clienților noștri să fie întotdeauna de neuitat.</p>
                <p class="animate-box">Încrederea și satisfacția clienților noștri sunt prioritățile noastre. Ne angajăm să oferim servicii de înaltă calitate și să fim mereu disponibili pentru a răspunde întrebărilor, pentru a oferi sfaturi și pentru a îndeplini cerințele speciale. Ne dorim să devenim partenerul dumneavoastră de încredere în fiecare ocazie specială sau în fiecare zi în care doriți să aduceți un zâmbet cuiva drag.</p>
                <p class="animate-box">Vă invităm să explorați colecția noastră de flori și produse florale, să ne contactați pentru orice întrebări sau cereri speciale și să ne permiteți să vă oferim experiențe florale deosebite. Mulțumim că ați ales Narrow și suntem bucuroși să facem parte din fiecare moment special al vieții dumneavoastră!</p>
                <p class="animate-box">Echipa Narrow</p>
            </div>
        </div>
    </div>
</div>