@{
    ViewBag.Title = "Home Page";
}

<div>
     <h2>Hi, I am Shrok</h2>
     <div style="position:fixed; bottom:0; right:0; width:300px;" class="disp-later">
          <img id="flower" alt="mascota" />
          <div id="text"></div>
     </div>
</div>

<script>
     
     //flower message
     //==========================================================
     const message = "Salut eu sunt mascota";//trebuie de modificat inainte de prezentare 
     //==========================================================
     let i = 0;
     const speed = 50;

     function LoadImage() {
          const image = document.getElementById("flower");
          const text = document.getElementById("text");
          //flower image
          image.src = "https://static.wikia.nocookie.net/gtawiki/images/a/af/Flowers-GTASA.png";
          let rot = 0;
          //animation
          let interval = setInterval(function () {
               rot += 0.15;
               image.style.transform = "rotate(" + Math.sin(rot) + "deg)";
          }, 10);
     }

     function typeWriter() {
          if (i < message.length) {
               text.innerHTML += message.charAt(i);
               i++;
               setTimeout(typeWriter, speed);
          }
     }
     setTimeout(
          () => {
               LoadImage(); 
               typeWriter();
          }, 1500);
</script>
