@{
     ViewBag.Title = "Home Page";
}

<div class="MyContainer">
     <div id="MyImage">
          <img src="https://static.wikia.nocookie.net/gtawiki/images/a/af/Flowers-GTASA.png" alt="Flowers example">
          <h3>Buna, eu sunt cine sunt?</h3>
     </div>
</div>

<style>
     .MyContainer {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          overflow: hidden;
     }

     #MyImage {
          position: absolute;
          bottom: 0;
          right: -100%;
     }
</style>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
     $(document).ready(function () {
          var img = $('#MyImage');
          var MyContainer = img.parent();
          var imgWidth = img.width();
          var MyContainerWidth = MyContainer.width();

          img.css('right', -imgWidth);

          img.animate({
               right: 0
          }, 2000);

     });
</script>

