@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Products";
}

@model IEnumerable<FlowerShop.Web.Models.Flowers.FlowerModel>

div class="Produse">
<div class="box"></div>
<h1>Produse</h1>
</div>

<style>
    .body {
        margin: 0; /* Убираем отступы по умолчанию */
    }

    .Produse {
        display: flex;
        flex-direction: column;
        ы align-items: center; /* Выравнивание элементов по вертикали по центру */
        justify-content: center; /* Выравнивание элементов по горизонтали по центру */
        padding: 20px;
    }

        .Produse h1 {
            font-size: 40px;
        }

    .box {
        flex: 1; /* Равномерное распределение высоты между контейнерами */
        margin: 10px;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Name</th>zz
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name </td>
                <td>@product.Description</td>
                <td>@product.Price</td>
            </tr>
        }
    </tbody>
</table>



