@{
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
     ViewBag.Title = "Products";
}
<h2>Aici se vor plasa produsele magazinului</h2>

@model List<Product>

<h1>Our Products</h1>

<div class="row">
     @foreach (var product in Model)
     {
          <div class="col-md-4">
               <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="@product.ImageUrl" alt="@product.Name">
                    <div class="card-body">
                         <h5 class="card-title">@product.Name</h5>
                         <p class="card-text">@product.Description</p>
                         <div class="d-flex justify-content-between align-items-center">
                              <span class="text-muted">$@product.Price</span>
                              <a href="#" class="btn btn-primary">Add to cart</a>
                         </div>
                    </div>
               </div>
          </div>
     }
</div>



